.main-container {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  display: flex;
}
.main-container .contact-container {
  width: 100%;
  height: 600px;
  display: flex;
}
.main-container .contact-container .flex-container {
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.main-container .contact-container .flex-container .form-container {
  width: 750px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1250px) {
  .main-container .contact-container .flex-container .form-container {
    width: 90vw;
  }
}
.main-container .contact-container .flex-container .form-container .text-input {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 500px;
  height: 30px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  transition: 300ms ease-in-out;
}
.main-container .contact-container .flex-container .form-container .text-input:focus {
  border-bottom: 1px solid rgb(163, 184, 153);
}
@media (max-width: 1250px) {
  .main-container .contact-container .flex-container .form-container .text-input {
    width: 100%;
    max-width: 500px;
  }
}
.main-container .contact-container .flex-container .form-container button {
  padding: 15px 40px;
  background: transparent;
  border: 0;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  margin: auto;
  border: 1px solid black;
}
.main-container .contact-container .flex-container .form-container button:hover {
  border: 1px solid rgb(163, 184, 153);
  color: rgb(163, 184, 153);
}
.main-container .contact-container .flex-container .form-container button::after, .main-container .contact-container .flex-container .form-container button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.main-container .contact-container .flex-container .form-container button::after {
  width: 30px;
  height: 1px;
  background: black;
  transform: translateX(-3px);
  margin-top: 0px;
}
.main-container .contact-container .flex-container .form-container button::before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -1px;
}
.main-container .contact-container .flex-container .form-container button:hover {
  padding: 15px 60px 15px 20px;
}
.main-container .contact-container .flex-container .form-container button:hover::after, .main-container .contact-container .flex-container .form-container button:hover::before {
  opacity: 1;
  right: 15px;
}
.main-container .contact-container .flex-container .form-container button:hover::after {
  background: rgb(163, 184, 153);
}
.main-container .contact-container .flex-container .form-container button:hover::before {
  border-left: 1px solid rgb(163, 184, 153);
  border-bottom: 1px solid rgb(163, 184, 153);
}/*# sourceMappingURL=contact.css.map */